lab8.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
lab8.xcodeproj/project.xcworkspace/xcuserdata/dmitry.xcuserdatad/UserInterfaceState.xcuserstate
lab8.xcodeproj/xcuserdata/dmitry.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist
